.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.Logout_Main {
	border-radius: 5px !important;
	padding: 10px 30px !important;
	background-color: hsl(0, 0%, 100%) !important;
	border: 2px solid hsl(39.1, 76.7%, 83.1%) !important;
	outline: none !important;

	font-weight: bold !important;
	letter-spacing: 1px !important;
	color: #353535 !important;
	cursor: pointer !important;
}

.Logout_Main:hover {
	background-color: hsl(39.1, 76.7%, 83.1%) !important;
}

.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.css-1bp1ao6 {
	width: 350px !important;
}

.customModal .MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
	width: 350px !important;
}

.customModal .MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-multiline.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root {
	width: 350px !important;
}

@media (min-width: 1200px) {
	.css-1oqqzyl-MuiContainer-root {
		max-width: 1400px !important;
	}
}

.LoginPage .MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;

	width: fit-content !important;
	height: fit-content !important;
	padding: 100px !important;
}

.LoginPage {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;

	width: 100% !important;
	height: 100% !important;
	background: url(https://c4.wallpaperflare.com/wallpaper/556/970/373/artwork-white-hexagon-abstract-3d-hd-wallpaper-preview.jpg) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.LoginPage .MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-fullWidth {
	background-color: #61dafb !important;
	padding: 10px 25px !important;
	margin-top: 30px !important;
}
